footer {
    background-color: #f2f2f2;
    height: 225px;
    max-width: 1440px;
}

.footer-nav {
    display:flex;
    justify-content: space-evenly;
    padding: 50px;
}

.footer-nav div {
    width: 33%;
}

.about div, 
.about-lodging div, 
.assistance div {
    min-width : 250px;
    margin: 10px 0px;
}