/* ========================================= Fonts ========================================= */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*@font-face {
  font-family: 'Raleway';
    src: 
    url('fonts/Raleway/Raleway-VariableFont_wght.ttf'),*/


/* ========================================= General ========================================= */

/* ============================== */
/* ====== Global Settings ======= */
/* ============================== */

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Raleway', 'sans-serif';
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Raleway';
  font-size: 14px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ====== Global witdhs ====== */


.wrapper1, .header, footer, main, .lodging, .activities {
    width: 100%;
    max-width: 1500px;
    min-width: 992px;
}

/* ====== Global margins ====== */

.wrapper1, .submit-word, footer {
    margin: 0 auto;
}

.location-form-submit, .filter-title, .filter-title p, .lodging-header h2,
 .popular-list-header, .popular-list-header h2, .activities-cards h3 {
  margin: 0;
}

/* margin top */
.info-desktop, .more, .little-card {
  margin-top: 20px;
}

/* margin right*/

/* margin bottom */
.location-form, .header-filter {
  margin-bottom: 20px;
}

h1 {
  margin : 0 0 10px 0;
}

.subtitle {
  margin: 0 0 20px 0;
}

/* margin left */
.info-desktop p, .header-logo, .filter {
  margin: 0 0 0 20px;
}

/* ====== Global paddings ====== */

.location-form-submit {
    padding: 0;
}

.lodging-list, .popular-list {
  padding: 30px;
}

.wrapper1 {
  padding: 35px 35px 0px 35px;
}

.wrapper2 {
  padding: 30px 0px;
}

.wrapper3 {
  padding: 50px 0px;
}

/* ====== Global fonts ====== */

a, .location-form-input {
  color: black;
}

.location-form-submit {
  color: #fff;
}

.fa-star {
  color:rgb(217, 217, 217);
}

.header-button:hover, .blue {
  color: #0065FC;
}


h1, h2, h3, h4, .location-form-input, .filter-title, .lodging-header h2, .more, span {
  font-weight: bold;
}

.popular-star {
    font-size: 20px;
}


h1, h2, .fa-cirle-info, .more {
    font-size: 20px;
}

h3, h4, p, .fa-location-dot, .wide-card h3,
.wide-card p, .little-card h3,  .little-card p, .stars  {
    font-size: 14px;
}

/* ========================================== Header ========================================= */

/*  ------------------------------ Topbar ------------------------------ */

  .topbar {
    display: flex;
    justify-content : space-between;
    align-items: center;
    height: 20%;
  }

    .header-logo {
      height: 40px;
      width: 80px;
    }

    .header-button {
      width: 162px;
      padding: 45px;
    }

    .header-button:hover {
    border-top: 2px solid #0065FC;
    } 

  /* ------ Formulaire de localisation ------*/

  .location-form{
    height: 35px;
    width: 35%;
    min-width: 350px;
    display:flex;
    border-radius: 20px;
  }

    .dot-container {
      width: 35px;
      height: 100%;
      display: flex;
      justify-content:center;
      align-items: center;
      background-color: #F2F2F2;
      border-top-left-radius : 10px;
      border-bottom-left-radius : 10px;
    }
      .fa-location-dot{
        width: 50%;
        height: 50%;
        display: flex;
        justify-content:center;
        align-items: center;

      }

    .location-form-input{
      width: 50%;
      height: 100%;
      border: solid 1px #F2F2F2;
    }

    .location-form-submit {
      width: 30%;
      max-width: 100px;
      height: 100%;
      font-weight: bold;
      background-color: #0065FC;
      border-top-right-radius : 10px;
      border-bottom-right-radius : 10px;
    }

      .submit-word {
        text-align: center;
      }

      .fa-magnifying-glass {
        display: none;
      }

/* ------ filters ------  */ 

  .header-filter {
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
  }

    .filter-title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .filter-nav {
      height: 100%;
      display : flex;
      align-items: center;
    }

      .filter {
        height: 100%;
        display: flex;
        justify-content: space-around;
        border-radius: 25px;
        border: solid 2px rgb(217, 217, 217)
      }

      .filter:hover{
        background-color:rgb(217, 217, 217);
        transition: 2s;
      }

        .fa-money-bill-wave, 
        .fa-child-reaching,
        .fa-heart,
        .fa-dog
        {
          height: 38px;
          width: 38px;
          display: flex; 
          justify-content: center;
          align-items: center;
          background-color: #DEEBFF;
          border-radius: 50%;
          color: #0065FC;
          margin-top: -1px;
          margin-left: -2PX;
        }


        .filter-button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin : 0 20px;
          font-weight: bold;
          cursor: pointer;
        }


  /* ------ info ------ */
  .info-smartphone {
    display: none;
  }

  .info-desktop {
    display: flex;
    align-items: center;
  }

  .circle-info {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: solid #f2f2f2 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fa-info {
    font-size: 10px;
    color: #0065FC;
    font-weight: bold;
  }

/* ========================================= Main ========================================= */

main {
  height: 60%;
  max-height: 60%;
}

  .lodging{
      display:flex;
      justify-content: space-between;
      align-content: space-between;
  }

  .activities {
      display:flex;
      flex-direction:column;
      padding-bottom: 4%;
  }

      /* ------ Lodging list ------ */

      .lodging-list{
          width: 65%;
          height: 100%;
          min-height: 550px;
          background-color: #F2F2F2;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
      }

          .lodging-header {
              height: 10%;
              display: flex;
              align-items: center;
          }

          .little-cards {
              height: 70%;
              width: 100%;
              min-width : 540px;
              
              display: flex;
              flex: 1;
              flex-wrap: wrap;
              justify-content: space-between;
              align-content: space-around;
              
          }
              .little-card{
                  width: 31%;
                  height: 30%;
                  min-width: 165px;
                  border-radius: 15px;
                  border: solid 4px white;
                  background-color: white;
                  box-shadow: 0 0 10px lightgray;
              }
              
                  .little-card a {
                      height: 100%;
                  }
              
                  .little-card img {
                      width: 100%;
                      height: 120px;
                      object-fit: cover;
                      border-top-left-radius : 12px;
                      border-top-right-radius : 12px;
                  }

      /* ------ Aside popular ------ */

      .popular-list {
          width: 32.5%;
          background-color: #F2F2F2;
          border-radius: 15px;
          display: flex;
          flex-direction:column;
          justify-content: space-between;
      }

          .popular-list-header {
              display: flex;
              justify-content: space-between;
              align-items: center;
          }

          #popular-star {
            color: black;
          }

          .wide-cards {
              width: 100%;
              min-width: 240px;
              height: 80%;
              max-height: 460px;
              display: flex;
              flex:1;
              flex-direction:column;
              justify-content: space-around;
          }

              .wide-card {
                  height: 28%;
                  width: 100%;
                  min-width: 240px;
                  border-radius: 15px;
                  border: solid 4px white;
                  background-color: white;
                  box-shadow: 0 0 10px lightgray;
              }
              
                  .wide-card a{
                      display:flex;
                  }
                  
                  .wide-card img {
                      width: 40%;
                      height: 120px;
                      border-top-left-radius : 12px;
                      border-bottom-left-radius : 12px;
                      object-fit: cover;
                  }
              
                  .wide-card-info {
                      width: 60%;
                      padding: 1% 2%;
                      display:flex;
                      flex-direction: column;
                      justify-content: space-between;
                  }

          /* ------ Lodging cards common properties------ */

          .wide-card h3,
          .wide-card p,
          .little-card h3, 
          .little-card p,
          .stars {
              margin: 3% 3%;
          }

      /* ------ Activities ------ */

      .activities-list {
          min-height : 460px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }

          .activities-columns{
              width: 22%;
              max-height: 500px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
          }

              /* ------ Activities cards common properties ------ */
              .activities-cards {
                  width: 100%;
                  border-radius: 15px;
                  box-shadow: 0 0 10px lightgray;
              }

                  .activities-img {
                      width: 100%;
                      border-top-left-radius: 15px;
                      border-top-right-radius: 15px;
                      object-fit: cover;
                  }

                  .activities-cards h3 {
                      height: 56px;
                      line-height: 56px;
                      padding-left : 5%;
                      font-weight: bold;
                  }

                  /* ------ Big cards ------ */
                  .big-card {
                      height: 100%;
                  }

                      .big-card img {
                          height: 87%;
                      }

                  /* ------ twin cards ------ */

                  .two-third img {
                      max-height: 185px;
                  }

                  .one-third img{
                      max-height: 115px;
                  }

                  .twin-3of5 img {
                      max-height: 150px;
                  }

                  .twin-2of5 img {
                      max-height: 140px;
                  }

  /* ========================================== footer ========================================== */

footer {
  height: 10%;
  background-color: #f2f2f2;
  
  
}

  .footer-nav {
    display:flex;
    justify-content: space-evenly;
    padding: 5%;
  }

    .footer-nav div {
      width: 33%;
    }

      .about div, 
      .about-lodging div, 
      .assistance div {
        min-width : 250px;
        margin: 10px 0px;
      }
    